services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: authuser-server
    ports:
      - 8087:8087
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres
    restart: always
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql/data/pgdata
    environment:
      - POSTGRES_DB=userdb
      - POSTGRES_PASSWORD=123456
    expose:
      - 5432
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  db-data:
